body{
background-color: black;
  
    margin: 0%;
    padding: 0%;
 
}
.principal{
    display: flex;
    flex-direction: column;
}
.logoP{
    width: 100px;
}
.peliculas{
    margin: 0;
    padding: 0%;

}
.PeliculasE{
    width: 300px;
    height: auto;
    padding: 10px;
    margin: 10px;
    border-radius: 0.5em;
   
}
.titulos{
    background-color: aqua;
    width: 50%;
    color: #fff;
    display: flex;
    place-items: center;
 
}
h1{
    align-items: center;
    text-align: center;
    padding: 10px;
    margin: 10px; 
}
#main{
    color: #fff;
}
#Videos{
    display: none;
}